.login-container {
    max-width: 1200px;
}
.login-card {
    border-radius: 25px;
    background: $white;
}
.form-control-user {
    border-radius: 12rem;
    padding: 10px 1rem;
    border: 1px solid $gray-400;
}
.form-control-user:focus {
    border-color: $blue;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}
