<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <!-- Fontawsome icons-->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}" />

  <!-- Title -->

  <title>Phish Master | {% block title %} {% endblock %}</title>
</head>

<body {% block bodyclass %} {% endblock %}>
  <!-- Body Content Starts -->

  {% block body %} {% endblock %}

  <!-- Body Content Ends -->

  <!-- Main Js -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <!-- Bootstrap Js -->
  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>

</body>

</html>